# week 1 -- clean manipulate

Cover string methods:

- string methods in week 1:
 - ```str.replace(' ','_')```
 - ```str.split('_')```
 - ```str.lower()```
 - ```str.strip()```
 
- functions
 - $f(x) -> y$

- dictionaries
 - ```{k:v}```
 - ```{k: lst}```
 - ```d.keys()```
 - ```d.values()```
 - ```d.items()```

- switches
 - ```if, elif, else```

- broadcasting values to a DataFrame
 - ```map, apply``` to dataframes
 
 
- understanding an API
 - ```dir(__)```
 - ?

## Q1 : Inspect & Clean ```questions.csv```

Use pandas to load and inspect the ```question.csv``` data and ensure the questions make sense to you.
 - how many measurement categories are there?
 - do you notice anything strange about the category labels?
 - clean up the measurement categories if necessary
 - save the clean version of the file under the name: ```questions_clean.csv```

# Q1: Clean A List of Dates

Produce a list of ```datetime``` objects from

In [1]:
dates = ['09 Feb, 1981',
 '17 Feb, 1985',
 '2/14/1989',
 '11 Mar, 1972',
 '10 Feb, 1973',
 '1993-07-19',
 '06 July, 1972',
 '04 July, 1987',
 '5/8/1985',
 '02/25/1995',
 '9/23/1976',
 '19950510',
 '18 Feb, 1987',
 '2/10/1992',
 '1982-01-15',
 '19700319',
 '12/05/1972',
 '21 April, 1981',
 '04/30/1989',
 '11 September, 1992',
 '03 December, 1979',
 '05 February, 1976',
 '13 Jul, 1971',
 '05/28/1981',
 '13 Jul, 1983',
 '18 Sep, 1983',
 '16 Oct, 1973',
 '19731021',
 '01/15/1972',
 '19811026',
 '19760406',
 '10/3/1978',
 '19950306',
 '07/02/1971',
 '07 Jun, 1996',
 '29 June, 1989',
 '2/28/1973',
 '19871205',
 '22 Feb, 1973',
 '13 Mar, 1983',
 '19941018',
 '25 May, 1991',
 '07/05/1982',
 '28 Nov, 1982',
 '9/9/1995',
 '5/20/1991',
 '05/26/1975',
 '1985-03-21',
 '20 April, 1986',
 '3/1/1986',
 '19830203',
 '02 October, 1996',
 '1995-09-13',
 '1981-06-05',
 '04/20/1994',
 '09 Nov, 1991',
 '19950916',
 '06/04/1976',
 '11/7/1983',
 '01/01/1971',
 '19810205',
 '19 March, 1979',
 '11/20/1990',
 '16 February, 1972',
 '19751222',
 '08 November, 1991',
 '7/5/1973',
 '01 December, 1974',
 '4/20/1991',
 '08/21/1996',
 '1986-05-05',
 '24 March, 1987',
 '19700726',
 '07/18/1976',
 '19821015',
 '08/16/1976',
 '17 Dec, 1986',
 '10/22/1977',
 '19911108',
 '21 January, 1985',
 '12/05/1980',
 '3/23/1974',
 '19840416',
 '19860812',
 '12/31/1976',
 '23 Jun, 1986',
 '01/16/1995',
 '19800304',
 '1994-04-09',
 '19810913',
 '19840629',
 '15 Jan, 1978',
 '18 Mar, 1970',
 '22 Apr, 1977',
 '1988-09-11',
 '1974-07-13',
 '31 March, 1982',
 '5/31/1982',
 '09/21/1975',
 '19840215']

In [3]:
print(dates)

['09 Feb, 1981', '17 Feb, 1985', '2/14/1989', '11 Mar, 1972', '10 Feb, 1973', '1993-07-19', '06 July, 1972', '04 July, 1987', '5/8/1985', '02/25/1995', '9/23/1976', '19950510', '18 Feb, 1987', '2/10/1992', '1982-01-15', '19700319', '12/05/1972', '21 April, 1981', '04/30/1989', '11 September, 1992', '03 December, 1979', '05 February, 1976', '13 Jul, 1971', '05/28/1981', '13 Jul, 1983', '18 Sep, 1983', '16 Oct, 1973', '19731021', '01/15/1972', '19811026', '19760406', '10/3/1978', '19950306', '07/02/1971', '07 Jun, 1996', '29 June, 1989', '2/28/1973', '19871205', '22 Feb, 1973', '13 Mar, 1983', '19941018', '25 May, 1991', '07/05/1982', '28 Nov, 1982', '9/9/1995', '5/20/1991', '05/26/1975', '1985-03-21', '20 April, 1986', '3/1/1986', '19830203', '02 October, 1996', '1995-09-13', '1981-06-05', '04/20/1994', '09 Nov, 1991', '19950916', '06/04/1976', '11/7/1983', '01/01/1971', '19810205', '19 March, 1979', '11/20/1990', '16 February, 1972', '19751222', '08 November, 1991', '7/5/1973', '01 December, 1974', '4/20/1991', '08/21/1996', '1986-05-05', '24 March, 1987', '19700726', '07/18/1976', '19821015', '08/16/1976', '17 Dec, 1986', '10/22/1977', '19911108', '21 January, 1985', '12/05/1980', '3/23/1974', '19840416', '19860812', '12/31/1976', '23 Jun, 1986', '01/16/1995', '19800304', '1994-04-09', '19810913', '19840629', '15 Jan, 1978', '18 Mar, 1970', '22 Apr, 1977', '1988-09-11', '1974-07-13', '31 March, 1982', '5/31/1982', '09/21/1975', '19840215']

# SOLUTION

Load required modules:

In [3]:
import os
import numpy as np
import pandas as pd
import plotly.express as px

In [1]:
location = '../../output/'

In [4]:
files = os.listdir(location)
files

['responses_clean.csv',
 'responses.csv',
 '.DS_Store',
 'roster.csv',
 'roster_with_score_2.csv',
 'questions_clean.csv',
 'roster_with_score.csv',
 'questions.csv',
 'roster_clean.csv',
 'demographic_detail.csv']

# Q1: Inspect & Clean: ```questions.csv```

In [5]:
df = pd.read_csv(location + 'questions.csv')
df

,Unnamed: 0,id,measurement,question
0,0,1,engagement,I am proud to work for [Company]
1,1,2,engagement,I would recommend [Company] as a great place t...
2,2,3,engagement,I rarely think about looking for a job at anot...
3,3,4,engagement,I see myself still working at [Company] in two...
4,4,5,engagement,[Company] motivates me to go beyond what I wou...
5,5,6,leadership,The leaders at [company] keep people informed ...
6,6,7,leadership,My manager is a great role model for employees
7,7,8,leadership,The leaders at [Company] have communicated a v...
8,8,9,enablement,I have access to the resources I need to do my...
9,9,10,enablement,I have access to the learning and development ...
10,10,11,enablement,Most of the systems and processes here support...
11,11,12,alignment,I know what I need to do to be successful in m...
12,12,13,alignment,I receive appropriate recognition when I do go...
13,13,14,alignment,Day-to-day decisions here demonstrate that qua...
14,14,15,development,My manager (or someone in management) has show...
15,15,16,development,I believe there are good career opportunities ...
16,16,17,development,This is a great company for me to make a contr...

(a) how many measurement categories are there?

There are five legitimate categories

(b) do you notice anything strange about the category labels?

In [7]:
df['measurement'].unique()

array([' engagement ', 'engagement', 'leadership', 'enablement',
       ' enablement ', ' alignment ', 'alignment', 'development',
       ' development '], dtype=object)

It Looks Like Leading Spaces in some of the labels

(c) clean up the measurement categories if necessary

In [8]:
df['measurement'] = df['measurement'].map(lambda x: x.strip())
df['measurement'].unique()

array(['engagement', 'leadership', 'enablement', 'alignment',
       'development'], dtype=object)

In [9]:
df['measurement'] = df.measurement.astype('category')
df['measurement'].head()

0    engagement
1    engagement
2    engagement
3    engagement
4    engagement
Name: measurement, dtype: category
Categories (5, object): ['alignment', 'development', 'enablement', 'engagement', 'leadership']

(d) save the clean version of the file under the name: ```questions_clean.csv```

In [10]:
df.to_csv(location + 'questions_clean.csv')