# Statistics

This week consists of a compressed review of undergraduate statistics.  This notebook applies a Chi Square Test to determine if the correct responses to a multiple choice exam are truly random.

## Load the Data
1. Load the data
2. Inspect and Clean
3. Report the correct response distribution by letter

## Solve Mathematically
1. Apply the Chi Square test manually

## Use Scipy stats to Solve
1. Lookup scipy documentation for [Chi Square](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chisquare.html) and solve the problem

# Load & Inspect

In [2]:
import os
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [3]:
location = '../../data/'
files = os.listdir(location)
files

['CrossStats20150102.txt',
 'multiple_choice.csv',
 'iris_names.txt',
 'state_codes.csv',
 'iris.csv',
 'nst-est2019-popchg2010-2019.pdf',
 'mount_rainier_daily.csv',
 'COVID_by_State.csv',
 'Candidate Assessment.xlsx',
 'nst-est2019-popchg2010_2019.csv']

In [4]:
df = pd.read_csv(location + 'multiple_choice.csv')
df

    Question Response
0          1        D
1          2        B
2          3        C
3          4        D
4          5        C
..       ...      ...
95        96        D
96        97        A
97        98        B
98        99        D
99       100        D

[100 rows x 2 columns]